<!DOCTYPE html>
<html>
    <head>
        <title>Artscentre | Login or Register </title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="vendor/bootstrap/bootstrap.css" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="well">
                        <legend>Login or Register</legend>
                        <form method="POST" action="login" accept-charset="UTF-8">
                            <!-- <div class="alert alert-error"><a class="close" data-dismiss="alert" href="#">x</a>Incorrect Username or Password!</div> -->
                            <input class="span3" placeholder="Username" type="text" name="username">
                            <input class="span3" placeholder="Password" type="password" name="password">
                            <label class="checkbox">
                                <input type="checkbox" name="remember" value="1"> Register New User
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="remember" value="1"> Remember Me
                            </label>
                            <button class="btn-info btn" type="submit">Login or Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>






